{% extends 'base.html' %}
{% block nav-main %}active{% endblock %}
{% block content %}
    <div>
        <figure>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="page-header" style="margin: 0; padding: 0; border: 0;">
                        <h3>
                            <a href="" style="color: #080808; text-decoration: none; font-weight: bold">Category:</a>
                            Lorem Ipsum
                            <a href="" style="text-decoration: none;"><small>vladaoleynik</small></a>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar velit a nisl congue auctor. Maecenas sed velit nulla. Donec fringilla eget velit ut bibendum. In sit amet varius sem. Aliquam vel neque maximus, vehicula mauris et, maximus risus. Duis lorem enim, suscipit in pellentesque nec, tristique vitae nisi. Sed cursus volutpat ullamcorper. Integer malesuada orci non viverra congue. Vestibulum et tristique tellus. Donec molestie felis ut justo elementum iaculis. In nec lobortis ligula. Nulla vulputate, purus sagittis hendrerit eleifend, dolor quam malesuada urna, quis pharetra risus mi sit amet lorem.</p>
                </div>
                <div class="panel-footer panel-default">
                    <p>
                        <a href="">family</a>
                        ,
                        <a href="">relationships</a>
                    </p>
                </div>
            </div>
        </figure>
        <figure>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="page-header" style="margin: 0; padding: 0; border: 0">
                        <h3>
                            <a href="" style="color: #080808; text-decoration: none; font-weight: bold">Category:</a>
                            Lorem Ipsum
                            <a href="" style="text-decoration: none;"><small>vladaoleynik</small></a>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar velit a nisl congue auctor. Maecenas sed velit nulla. Donec fringilla eget velit ut bibendum. In sit amet varius sem. Aliquam vel neque maximus, vehicula mauris et, maximus risus. Duis lorem enim, suscipit in pellentesque nec, tristique vitae nisi. Sed cursus volutpat ullamcorper. Integer malesuada orci non viverra congue. Vestibulum et tristique tellus. Donec molestie felis ut justo elementum iaculis. In nec lobortis ligula. Nulla vulputate, purus sagittis hendrerit eleifend, dolor quam malesuada urna, quis pharetra risus mi sit amet lorem.</p>
                </div>
                <div class="panel-footer panel-info">
                    <p>
                        <a href="">family</a>
                        ,
                        <a href="">relationships</a>
                    </p>
                </div>
            </div>
        </figure>
        <figure>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="page-header" style="margin: 0; padding: 0; border: 0">
                        <h3>
                            <a href="" style="color: #080808; text-decoration: none; font-weight: bold">Category:</a>
                            Lorem Ipsum
                            <a href="" style="text-decoration: none;"><small>vladaoleynik</small></a>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar velit a nisl congue auctor. Maecenas sed velit nulla. Donec fringilla eget velit ut bibendum. In sit amet varius sem. Aliquam vel neque maximus, vehicula mauris et, maximus risus. Duis lorem enim, suscipit in pellentesque nec, tristique vitae nisi. Sed cursus volutpat ullamcorper. Integer malesuada orci non viverra congue. Vestibulum et tristique tellus. Donec molestie felis ut justo elementum iaculis. In nec lobortis ligula. Nulla vulputate, purus sagittis hendrerit eleifend, dolor quam malesuada urna, quis pharetra risus mi sit amet lorem.</p>
                </div>
                <div class="panel-footer panel-warning">
                    <p>
                        <a href="">family</a>
                        ,
                        <a href="">relationships</a>
                    </p>
                </div>
            </div>
        </figure>
    </div>
    <nav class="center-block">
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}