{% extends 'base.html' %}
{% block nav-main %}active{% endblock %}
{% block content %}
    <div>
    {% for note in notes %}
        <figure>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #{{ note.color }}!important; background-image: none;">
                    <div class="page-header" style="margin: 0; padding: 0; border: 0;">
                        <h3>
                            <a href="{% url 'notes_category' note.category|lower %}" style="color: #080808; text-decoration: none; font-weight: bold">{{ note.category }}:</a>
                            {{ note.title }}
                            <a href="{% url 'notes_author' note.user %}" style="text-decoration: none;"><small>{{ note.user }}</small></a>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>{{ note.text }}</p>
                </div>
                <div class="panel-footer panel-default">
                    <p>
                        {% for tag in note.tag %}
                        <a href="{% url 'notes_tag' tag|lower %}">{{ tag }}</a>
                        {% ifnotequal tag note.tag|last %},{% endifnotequal %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </figure>
    {% endfor %}
    </div>
    <nav class="center-block">
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}