{% extends 'base.html' %}
{% block nav-main %}active{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            <li class="list-group-item"><h3 class="text-muted">System colors:</h3></li>
            {% for item in system %}
            <li class="list-group-item" style="background-color: #{{ item.color }}; font-weight: bold;">{{ item.color }}</li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            <li class="list-group-item"><h3 class="text-muted">Custom colors:</h3></li>
            {% for item in custom %}
            <li class="list-group-item" style="background-color: #{{ item.color }}; font-weight: bold;">{{ item.color }}</li>
            {% empty %}
            <li class="list-group-item list-group-item-info">No custom colors yet.</li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Create new
        </button>
        <br/>
        <br/>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel" class="text-muted">Add new color</h3>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label for="setting" class="control-label">Choose color:</label>
                                <input class="form-control" type="color" name="setting"/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-md">
                                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}