{% extends 'base.html' %}
{% block content %}
    <div>
        {% if info %}
        <h2 class="text-info">{{ info }}</h2><br/>
        {% endif %}
    {% for note in notes %}
        <figure class="panel panel-default note">
            <div class="panel-heading" style="background-color: #{{ note.color }}!important;">
                <div class="page-header">
                    <h3>
                        <strong>{{ note.title }}</strong>
                        <a href="{% url 'notes_category' note.category|lower %}"><small>{{ note.category }}</small></a>
                        <p class="pull-right">
                            <a href="{% url 'single_note' note.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="{% url 'delete_note' note.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </p>
                    </h3>
                    <p>Posted by: {{ note.user }}</p>
                </div>
            </div>
            <div class="panel-body">
                <p>{{ note.text }}</p>
                {% if note.media %}<p>
                    <a href="{{ MEDIA_URL }}{{ note.media }}">Attached file</a>
                </p>
                {% endif %}
            </div>
            <div class="panel-footer panel-default">
                <p>
                    {% for tag in note.tag %}
                        <a href="{% url 'notes_tag' tag|lower %}" class="btn btn-default">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{ tag }}
                        </a>
                    {% endfor %}
                </p>
            </div>
        </figure>
    {% empty %}
        <h2 class="text-info">No notes yet.</h2><br/>
    {% endfor %}
    </div>
    {% if notes %}
    <nav class="col-md-12">
        <ul class="pagination">
            {% if notes.has_previous %}
                <li>
                    <a href="?page={{ notes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <li class="active">
                <a>Page {{ notes.number }} of {{ notes.paginator.num_pages }}</a>
            </li>
            {% if notes.has_next %}
                <li>
                    <a href="?page={{ notes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}