{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="text-info">Create a note:</h2><br/>
    <div>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title|add_class:"form-control" }}
                <p>
                    {% for err in form.title.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                {{ form.text.label_tag }}
                {{ form.text|add_class:"form-control" }}
                <p>
                    {% for err in form.text.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                {{ form.color.label_tag }}
                <p>
                    <select class="form-control" name="color">
                        {% for value, text in form.fields.color.choices %}
                            <option value="{{ value }}" style="background-color: #{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    {% for err in form.color.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                {{ form.tag.label_tag }}
                <div class="form-group">
                    {% for value, text in form.fields.tag.choices %}
                        <label for="{{ text }}">
                            <input id="{{ text }}" type="checkbox" value="{{ value }}" name="tag"> {{ text }}
                        </label>
                    {% endfor %}
                </div>
                <p>
                    {% for err in form.tag.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>

            </div>
            <div class="form-group">
                {{ form.category.label_tag }}
                <p>
                    {{ form.category|add_class:"form-control" }}
                </p>
                <p>
                    {% for err in form.category.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                {{ form.media.label_tag }}
                <p>
                    {{ form.media }}
                </p>
                <p>
                    {% for err in form.media.errors %}
                        <span class="text-danger">{{ err }}</span>
                    {% endfor %}
                </p>

            </div>
            <br/>
            <button type="submit" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Create
            </button>
        </form>
    <br/>
    <br/>
    </div>
{% endblock %}