{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="alert alert-info" role="alert">
        <h2>Create a note</h2>
    </div>
    <div>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-2 control-label">{{ form.title.label_tag }}</p>
                        <p class="col-sm-5">{{ form.title }}</p>
                        <p class="col-sm-5">
                            {% for err in form.title.errors %}
                                <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-2 control-label">{{ form.color.label_tag }}</p>
                        <p class="col-sm-5">
                            <select name="color">
                                {% for value, choice in form.fields.color.choices %}
                                    <option value="{{ value }}" style="background-color: #{{ choice }};">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="col-sm-5">
                            {% for err in form.color.errors %}
                                <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-2 control-label">{{ form.tag.label_tag }}</p>
                        <p class="col-sm-5">
                            {{ form.tag }}
                        </p>
                        <p class="col-sm-5">
                            {% for err in form.tag.errors %}
                                <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-2 control-label">{{ form.category.label_tag }}</p>
                        <p class="col-sm-5">
                            {{ form.category }}
                        </p>
                        <p class="col-sm-5">
                            {% for err in form.category.errors %}
                                <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            <input class="btn btn-success btn-md col-sm-12" type="submit" value="Send"/>
        </form>
    </div>
{% endblock %}