{% extends 'base.html' %}
{% block content %}
    <div>
        {% if info %}
        <div class="alert alert-info" role="alert">
            <h2>{{ info }}</h2>
        </div>
        {% endif %}
    {% for note in notes %}
        {% if user != note.user %}
        <figure>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #{{ note.color }}!important; background-image: none;">
                    <div class="page-header" style="margin: 0; padding: 0; border: 0;">
                        <h3>
                            <a href="{% url 'notes_category' note.category|lower %}" style="color: #000000; text-decoration: none; font-weight: bold">{{ note.category }}:</a>
                            <span style="color: #000000;">{{ note.title }}</span>
                            <a {% ifnotequal user note.user %}href="{% url 'notes_author' note.user %}"{% endifnotequal %} style="text-decoration: none;"><small style="color: #222222;">{{ note.user }}</small></a>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <p>{{ note.text }}</p>
                    {% if note.media %}
                    <p>
                        <a href="{{ MEDIA_URL }}{{ note.media }}">Attached file</a>
                    </p>
                    {% endif %}
                </div>
                <div class="panel-footer panel-default">
                    <p>
                        {% for tag in note.tag %}
                        <a href="{% url 'notes_tag' tag|lower %}">{{ tag }}</a>
                        {% ifnotequal tag note.tag|last %},{% endifnotequal %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </figure>
        {% endif %}
    {% empty %}
        <div class="alert alert-info" role="alert">
            <h2>No notes yet.</h2>
        </div>
    {% endfor %}
    </div>
    {% if notes %}
    <nav class="col-md-12">
        <ul class="pagination">
            {% if notes.has_previous %}
                <li>
                    <a href="?page={{ notes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <li class="active">
                <a>Page {{ notes.number }} of {{ notes.paginator.num_pages }}</a>
            </li>
            {% if notes.has_next %}
                <li>
                    <a href="?page={{ notes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}