{% extends 'base.html' %}
{% load widget_tweaks %}
{% block nav-signup %}active{% endblock %}
{% block content %}
        {% if user.is_authenticated %}
            <h1>Greetings!</h1>
            <p> You have already logged in!</p>
            <p><a class="btn btn-success btn-lg" href="{% url 'index' %}" role="button">Get to main</a></p>
        {% else %}
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control" }}
                        <p>
                            {% for err in field.errors %}
                                <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            <button type="submit" class="btn btn-primary btn-md">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Sign Up
            </button>
        </form>
        {% endif %}
{% endblock %}