{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notes Organizer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row container page-header">
                <h1><a href="{% url 'index' %}" class="text-muted">Notes Organizer</a> <span class="label label-info">beta</span></h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-group">
                        {% if user.is_authenticated %}
                            <li class="list-group-item">Signed in as <strong>{{ user }}</strong></li>
                            <a href="{% url 'index' %}" class="list-group-item {% nav_active request 'index' %}">Main</a>
                            <a href="#" class="list-group-item">Add Note</a>
                            <a href="#" class="list-group-item">
                                My Notes
                                <span class="badge">14</span>
                            </a>
                            <a href="#" class="list-group-item">My Categories</a>
                            <a href="#" class="list-group-item">My Tags</a>
                            <a href="#" class="list-group-item">My Colors</a>
                            <a href="{% url 'logout' %}" class="list-group-item">Log Out</a>
                        {% else %}
                            <a href="{% url 'index' %}" class="list-group-item {% nav_active request 'index' %}">Main</a>
                            <a href="{% url 'signin' %}" class="list-group-item {% nav_active request 'signin' %}">Sign In</a>
                            <a href="{% url 'signup' %}" class="list-group-item {% nav_active request 'signup' %}">Sign Up</a>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-8">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>